.score-board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-clr);
    /* align-self: center; */
    border-radius: var(--border-radius);
    padding-inline: calc(var(--padding-inline) * 3);
    padding-block: calc(var(--padding-block) * 5);
    gap: calc(var(--gap) * 3);
    box-shadow: 1px 1px 5px var(--primary-clr);
}

.primary-score-board {
    display: flex;
    align-items: flex-end;
    gap: var(--gap);
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--score-size);
    gap: var(--gap);
}

.main-score {
    --score-size: 2rem;
}

.main-score>.score-value {
    background-color: var(--secondary-clr-50);
}

.sub-score {
    --score-size: 1.5rem;
}

.sub-score>.score-value {
    background-color: var(--accent-clr-50);
}

.score-value,
.score-title {
    color: var(--black-clr);
}

.score-value{
    font-weight: 500;
}

.score-title{
    font-weight: 400;
}

.score-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    background-color: var(--primary-clr-30);
    box-shadow: 1px 1px 5px var(--primary-clr);
}

.secondary-score-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap);
}

.extra {
    display: flex;
    justify-content: space-between;
    color: var(--black-clr);
    gap: var(--gap);
    width: 100%;
}

.title {
    color: var(--black-clr);
    font-family: var(--ff-2);
    font-weight: 300;
}

.value {
    display: flex;
    gap: calc(var(--gap) * 0.5);
    font-family: var(--ff-2);
    font-weight: 400;
}

.correct {
    color: var(--black-clr);
}

.wrong {
    color: var(--accent-clr);
}