body {
    width: 100vw;
    height: 100vh;
    font-weight: 400;
    font-family: var(--ff-1);
    background-color: var(--primary-clr);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}